@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html *,
html *::before,
html *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background: url("assets/bg-desktop-dark.jpg") no-repeat;
  background-size: 100% 200px;
  font-family: "Josefin Sans", sans-serif, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
